@import "../../../css/vars.less";
@import "../../../css/mixins.less";

.footer {
  width : 100%;
  padding : 20px 5% 20px;
  color : @clrBG0;
  background : #363738;
  font-size : 16px;
  position: relative;
  display: grid;
  //grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 15% 15% 15% 55%;
  gap : 15px;
  height : @heightFooter;
  .tri {
    //border : 1px solid magenta;
    grid-row : 1;
    &:nth-child(1){
      grid-column : 1;
    }
    &:nth-child(2){
      grid-column : 2;
    }
    &:nth-child(3){
      grid-column : 3;
    }
    &:nth-child(4){
      grid-column : 4;
      padding-left: 30%;
    }
  }
  @media @queryMedium {
    grid-template-columns: 15% 15% 15% 55%;
    .tri{
      &:nth-child(1){
        grid-row : 1;
        grid-column : 1;
      }
      &:nth-child(2){
        grid-row : 2;
        grid-column : 2;
      }
      &:nth-child(3){
        grid-row : 3;
        grid-column : 3;
      }
      &:nth-child(4){
        grid-row : 4;
        grid-column : 4;
      }
    }
  }

  @media @querySmall {
    grid-template-columns: 2fr;
    .tri{
      &:nth-child(1){
        grid-row : 1;
        grid-column : 1;
      }
      &:nth-child(2){
        grid-row : 2;
        grid-column : 1;
      }
      &:nth-child(3){
        grid-row : 3;
        grid-column : 1;
      }
      &:nth-child(4){
        grid-row : 4;
        grid-column : 1;
      }
    }
  }
  strong {
    font-weight: 700;
  }
  a {
    display : block;
    color : @clrBG0;
    //margin : 15px 0;
  }
  .data {
    //padding-left : 20px;
  }
//  .copyright {
 //   text-align : center;
  //  grid-column : 1 / 4;
    //border : 1px solid magenta;
  //}
}
