@import "../../../css/vars.less";
@import "../../../css/mixins.less";

.footer {
  width: 100vw;
  color: @clrBG0;
  background: #363738;
  font-size: 16px;
  position: relative;
  padding : 30px;
  @media @queryMedium {
    margin-left : -@paddingPageMobile;
    padding : 30px 10px;
  }
  @media @querySmall {
    margin-left : -@paddingPageMobile;
    padding : 30px 10px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap : 15px;
    h3 {
      margin-top : 0px;
    }
    .tri {

    }
  }
  .bottom {
    display : block;
    width : 100vw;
    h3 {
      margin-top : 10px;
    }
    .data {
      p, a {
        margin : 0px;
        padding : 0px 7px 0px 0px;
        &.copyright{
          margin-top : 10px;
        }
      }
      a {
        color : @clrBG0;
        &:visited {
          color : @clrBG0;
        }
      }
    }
  }
}
