@import "../../../css/vars.less";
@import "../../../css/mixins.less";

#root:not([data-scroll='0']) {
  .header {
    position: fixed;
    top: 0;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
  }
}

.header {
  position : fixed;
  width : 100%;
  left : 0px;
  right : 0px;
  top : 0px;
  height : @heightHeader;
  background : @clrBG0;
  z-index : @zIndexChrome;
  @media @queryMedium {
    height : @heightHeaderShort;
  }

  @media @querySmall {
    height : @heightHeaderShort;
  }
  .nav {
    padding : 0px 40px;
    .nav-item {
      line-height : @heightHeader;
      text-decoration : none;
      margin-right : 20px;
      color : @clrFG0;
      font-weight : 500;
      &:visited, &:active {
        color : @clrFG0;
      }
      &.active {
        color : @clrBrand;
        pointer-events: none;
      }
    }
    @media @queryLarge {
      display : block;
    }

    @media @queryMedium {
      // TODO : hamburger
      display : none;
    }

    @media @querySmall {
      // TODO : hamburger
      display : none;
    }
  }
  .logo {
    position : absolute;
    right : 100px;
    top : 22px;
    width : 240px;
    @media @queryMedium {
      right : unset;
      left : 10px;
      top : 10px;
    }

    @media @querySmall {
      right : unset;
      left : 10px;
      top : 10px;
    }
  }
}
