@import '../../../css/vars.less';
@import '../../../css/mixins.less';

#root:not([data-scroll='0']) {
  .header {
    position: fixed;
    top: 0;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
  }
}

.navMobile {
  display : none;
  top : @heightHeaderShort;
  right : 0px;
  width : 75vw;
  max-width : 300px;
  -webkit-box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px;
  &.open {
    display : block;
  }
}

.navItemMobile {
  width : 100%;
  text-align : center;
  display : inline-block;
  height : @heightHeader * 1.1;
  line-height : @heightHeader * 1.1;
  border-style: solid;
  border-color: white;
  border-width: 0 40px 1px 40px; // top, right, bottom, left
  border-bottom-color: lightgray;

  &:last-child {
    border-bottom: none;
  }
}

.header {
  position : fixed;
  width : 100%;
  left : 0px;
  right : 0px;
  top : 0px;
  height : @heightHeader;
  background : @clrBG0;
  z-index : @zIndexChrome;
  overflow : visible;
  @media @queryMedium {
    height : @heightHeaderShort;
  }
  @media @querySmall {
    height : @heightHeaderShort;
  }
  .hamburger {
    display : none;
    transform: scale(0.8);
    width : 80px;
    top: -1px;
    right: 4px;
    @media @queryMedium {
      display : block;
    }
    @media @querySmall {
      display : block;
    }
    .patty {
      right : 10px;
    }
  }
  .nav {
    position : absolute;
    right : 5%;
    top : 0px;
    background : @clrBG0;
    overflow : hidden;
    @media @queryMedium {
      .navMobile();
    }
    @media @querySmall {
      .navMobile();
    }
    .nav-item {
      line-height : @heightHeader;
      text-decoration : none;
      margin-right : 20px;
      color : @clrFG0;
      font-weight : 500;
      background : @clrBG0;
      @media @queryMedium {
        .navItemMobile();
      }
      @media @querySmall {
        .navItemMobile();
      }
      &:visited, &:active {
        color : @clrFG0;
      }
      &.active {
        color : @clrBrand;
        pointer-events: none;
      }
    }
  }
  .logo {
    position : absolute;
    left : 5%;
    top : 22px;
    width : 240px;
    @media @queryMedium {
      right : unset;
      left : 10px;
      top : 10px;
    }

    @media @querySmall {
      right : unset;
      left : 10px;
      top : 10px;
    }
  }
}
