@import '../../../css/vars.less';
@import '../../../css/mixins.less';

@topGutter : 30px;
@maxWidthPageHome : 1442px;

.page {
  &.page-home {
    width : 100%;
    max-width : 1442px;
    padding-top : @heightHeader + @heightHero + @topGutter;
    margin-bottom : 40px;
    @media @queryMedium {
      padding-top : @heightHeaderShort + @heightHeroMedium;
      margin-bottom : 0px;
    }
    @media @querySmall {
      padding-top : @heightHeaderShort + @heightHeroShort;
      margin-bottom : 0px;
    }
    h2{
      margin-bottom : 10px;
    }
    .project-links {
      grid-template-columns: repeat(3, 1fr);
      @media @queryMedium {
        grid-template-columns: 1fr;
        gap : 10px;
      }
      @media @querySmall {
        grid-template-columns: 1fr;
        gap : 10px;
      }
      .project-link {
        width : ( @maxWidthPageHome / 3 ) - 40px;
        height : 350px;
        @media @queryMedium {
          width : calc( 100% - ( @paddingPageMobile * 2 ) );
          height : @heightHeroShort;
        }
        @media @querySmall {
          width : calc( 100% - ( @paddingPageMobile * 2 ) );
          height : @heightHeroShort;
        }
      }
    }
  }
}

