@import "../../../css/vars.less";
@import "../../../css/mixins.less";

@topGutter : 30px;

.page {
  &.page-home {
    max-width : 1442px;
    padding-top : @heightHeader + @heightHero + @topGutter;
    @media @queryMedium {
      padding-top : @heightHeaderShort + @heightHeroMedium + @topGutter;
    }
    @media @querySmall {
      padding-top : @heightHeaderShort + @heightHeroShort + @topGutter;
    }
    .project-links {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

