/* media queries */
@querySmall: ~"screen and (max-width:767px)";
@queryMedium: ~"screen and (min-width:768px) and (max-width:1099px)";
@queryLarge: ~"screen and (min-width:1100px)";
@queryHandsetShort: ~"(max-height:655px)";

/* colors */
@clrBG0: white;
@clrBG3 : #F2F2F2;

@clrFG0: black;
@clrFG1: rgb(115, 115, 115);

@clrBrand: #1278BC;

@clrBtnBG: cornflower;


// white alphas
@clrWhiteAlpha0: rgba(255, 255, 255, 0);
@clrWhiteAlpha1: rgba(255, 255, 255, 0.1);
@clrWhiteAlpha2: rgba(255, 255, 255, 0.2);
@clrWhiteAlpha3: rgba(255, 255, 255, 0.3);
@clrWhiteAlpha4: rgba(255, 255, 255, 0.4);

// black alphas
@clrBlackAlpha0: rgba(0, 0, 0, 0);
@clrBlackAlpha1: rgba(0, 0, 0, 0.1);
@clrBlackAlpha2: rgba(0, 0, 0, 0.2);
@clrBlackAlpha3: rgba(0, 0, 0, 0.3);
@clrBlackAlpha5: rgba(0, 0, 0, 0.5);



/* dimensions */
@widthPageMax: 1100px;
@widthPageMin: 320px;
@heightHeader: 80px;
@heightHeaderShort: 58px;
@heightHero: 600px;
@heightHeroMedium: 400px;
@heightHeroShort: 300px;

/* depth */
@zIndexChrome: 10;
@zIndexAboveChrome: 20;
