/* media queries */
@querySmall: ~"screen and (max-width:767px)";
@queryMedium: ~"screen and (min-width:768px)";
@queryLarge: ~"screen and (min-width:1100px)";
@queryHandsetShort: ~"(max-height:655px)";


/* colors */
@clrBG0: white;

@clrFG0: black;
@clrFG1: rgb(115, 115, 115);

@clrBrand: #1278BC;

@clrBtnBG: cornflower;


/* dimensions */
@widthPageMax : 1200px;
@heightHeader : 80px;

/* depth */
@zIndexChrome : 10;
@zIndexAboveChrome : 20;
